{% extends 'base.html.twig' %}

{% block title %}chaussure de ville{% endblock %}

{% block description %}chaussure de ville {% endblock %}

{% block keywords %} Chaussure, de, ville, Produit, categorie{% endblock %}

{% block body %}
    <div class='container my-5'>
        <h1>{{category.name}}</h1>

        <p>Cette catégorie contient {{category.products|length }}</p>
       
        <div class="row">
            {% for product in category.products %}
                <div class="col-md-3 text-center">
                    <a href="{{path('app_product', {slug : product.slug})}}" class='text-decoration-none'>
                        <img src="/uploads/{{product.illustration}}" alt="" class='img-fluid'>
                        <span class="d-block fw-bold text-dark">{{product.name}}</span>
                    </a>
                    <span class='d-block mb-3'>{{product.priceWt|price}}</span>
                </div>
            {% endfor %}
        </div>
       
    </div>
{% endblock %}
