{% extends 'base.html.twig' %}

{% block body %}

    <div class="container my-5">
        <h1>Espace membre</h1>

        <div class="row">
            <div class="col-md-3">
                {% include 'account/_menu.html.twig' %}
            </div>

            <div class="col-md-9">
                <small><a href="{{ path('app_account') }}" class="btn btn-secondary btn-sm">Retour</a></small>

                <h5 class="mt-4">Ma commande n°{{ order.id }}</h5>
                <span>Passée le : {{ order.createdAt|date('d/m/Y') }}</span><br/>
                {{ include('admin/state.html.twig', { field : { 'value' : order.state } } ) }}
                <br/>
                <hr>

                <div class="row my-4">
                    <div class="col-md-6">
                        <strong>Adresse de livraison :</strong><br/>
                        {{ order.delivery|raw }}
                    </div>
                    <div class="col-md-6">
                        <strong>Transporteur</strong><br/>
                        {{ order.carrierName }}
                    </div>
                </div>

                <hr>

                <strong>Contenu de la commande :</strong><br/>

                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Illustration</th>
                        <th scope="col">Nom du produit</th>
                        <th scope="col">Quantité</th>
                        <th scope="col">Prix unitaire H.T</th>
                        <th scope="col">TVA</th>
                        <th scope="col">Total T.T.C</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for product in order.orderDetails %}
                        <tr>
                            <td>
                                <img src="/uploads/{{ product.productIllustration }}" width="100px" alt="">
                            </td>
                            <td>{{ product.productName }}</td>
                            <td>{{ product.productQuantity }}</td>
                            <td>{{ product.productPrice|price }}</td>
                            <td>{{ product.productTva }}%</td>
                            {% set coeff = 1 + (product.productTva / 100) %}

                            <td>{{ ((product.productPrice * coeff) * product.productQuantity)|price }}</td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td></td>
                        <td>{{ order.carrierName }}</td>
                        <td>1</td>
                        <td></td>
                        <td></td>
                        <td>{{ order.carrierPrice|price }}</td>
                    </tr>
                    </tbody>
                </table>

                <div>
                    <strong>Total H.T : </strong> {{ (order.totalWt - order.totalTva)|price }}<br/>
                    <strong>Total TVA : </strong> {{ order.totalTva|price }}<br/>
                    <strong>Total T.T.C : </strong> {{ order.totalWt|price }}
                </div>

            </div>
        </div>

    </div>
    
    
{% endblock %}