{% extends 'base.html.twig' %}

{% block body %}
<div class="container my-5">
    <div class="row align-items-center">
        <div class="col-md-6">
            <img src="/images/12.jpg" class="img-fluid" alt="Description de l'image">
        </div>
        <div class="col-md-6">
            <h1 class="text-center my-3">Connexion</h1>
            {% if error %}
                <div class="text-center alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <form action="{{ path('app_login') }}" method="post">
                <div class="form-group">
                    <label for="username">Email:</label>
                    <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}">
                </div>

                <div class="form-group">
                    <label for="password">Mot de passe:</label>
                    <input type="password" class="form-control" id="password" name="_password">
                </div>

                <!-- Champ caché pour le CSRF token -->
                <!-- Ce champ est essentiel pour la sécurité de votre formulaire. Il génère un token CSRF unique pour chaque session utilisateur, empêchant les attaques de type CSRF.
                Symfony vérifie ce token lors de la soumission du formulaire. -->
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <!-- Champ caché pour définir la redirection après connexion -->
                <!-- Le champ _target_path définit l'URL vers laquelle l'utilisateur sera redirigé après une connexion réussie. Ici, il est configuré pour rediriger l'utilisateur vers la page "app_account" après la connexion. -->
                <input type="hidden" name="_target_path" value="{{ path('app_account') }}">

                <button type="submit" class="btn btn-success mt-3">Connexion</button>
            </form>
            <div class="mt-3">
                Vous n'avez pas de compte ? <a href="{{ path('app_register') }}">Inscrivez-vous</a><br>
                <a href="{{ path('app_password') }}">Mot de passe oublié ?</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
