{% extends 'base.html.twig' %}

{% block body %}
    
 <h1 class="text-center my-3">Connexion</h1>
     {% if error %}
         <div class="text-center alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form action="{{ path('app_login') }}" method="post">
        <label for="username">Email:</label>
        <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}">

        <label for="password">Mot de passe:</label>
        <input type="password" class="form-control" id="password" name="_password">

        <input type="hidden" name="_target_path" value="{{path('app_account')}}">

        <button type="submit"class="btn btn-success mt-3" >Connexion</button>
        
    </form>
    Vous n'avez pas de compte ? <a href="{{path('app_register')}}">Inscrivez-vous</a>
{% endblock %}