{% extends 'base.html.twig' %}

{% block body %}
    <div class='container my-5'>
        <div class="row">
            <div class="col-md-6">
                <img src="/uploads/{{ product.illustration }}" class="img-fluid" alt="{{ product.name }}">
            </div>
            <div class="col-md-6">
                <small><a class="fw-bold text-dark" href="{{ path('app_category', {slug: product.category.slug}) }}">{{ product.category.name }}:</a> {{ product.name }}</small>
                <h1>{{ product.name }}</h1>
                <span class='d-block mb-3'>{{ product.priceWt|price }}</span>
                {{ product.description|raw }}

                <form action="{{ path('app_cart_add', {id: product.id}) }}" method="POST" class="mt-3">
                    <div class="custom-dropdown variants-dropdown custom-dropdown--no-swap col-12 custom-dropdown--opened">
                        <div class="custom-dropdown__current-item">
                            <div class="custom-dropdown__placeholder-right">
                                Choisir la taille <span class="size-default-label">(FR)</span>
                            </div>
                            <div class="custom-dropdown__arrow"></div>
                            <ul class="custom-dropdown-items-container">
                                {% for size in product.availableSizes %}
                                    <li class="custom-dropdown__item variant {% if loop.first %}custom-dropdown__item--selected{% endif %}" data-value="{{ size }}">
                                        <label for="size-{{ size }}">
                                            <input type="radio" id="size-{{ size }}" name="size" value="{{ size }}" {% if loop.first %}checked{% endif %}>
                                            <span class="variant-attribute-name">{{ size }}</span>
                                        </label>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success w-100 mt-3">Ajouter au panier</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
