{% extends 'base.html.twig' %}

{% block body %}
    <div class='container my-5'>
        <div class="row">
            <div class="col-md-6">
                <img src="/uploads/{{ product.illustration }}" class="img-fluid" alt="{{ product.name }}">
            </div>
            <div class="col-md-6">
                <small><a class="fw-bold text-dark" href="{{ path('app_category', {slug: product.category.slug}) }}">{{ product.category.name }}:</a> {{ product.name }}</small>
                <h1>{{ product.name }}</h1>
                <span class='d-block mb-3'>{{ product.priceWt|price }}</span>
                {{ product.description|raw }}
                <div class="container mt-5">
                    <form action="{{ path('app_cart_add', {id: product.id}) }}" method="POST">
                        <div class="mb-3">
                            <label for="size" class="form-label">Choisir la taille <span class="size-default-label">(FR)</span></label>
                            <div class="btn-group w-100" role="group">
                                {% for size in product.availableSizes %}
                                    <input type="radio" class="btn-check" id="size-{{ size }}" name="size" value="{{ size }}" {% if loop.first %}checked{% endif %}>
                                    <label class="btn btn-outline-secondary" for="size-{{ size }}">{{ size }}</label>
                                {% endfor %}
                            </div>
                        </div>
                        <button type="submit" class="btn btn-success w-100 mt-3">Ajouter au panier</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
