{% extends 'base.html.twig' %}

{% block body %}
    
 <h1 class="text-center my-3">Inscription</h1>
    <div class="container my-5">
            <div class="row">
                <div class="col-lg 7 text-center">
                    <img src="images/inscription.jpg" alt="Inscrivez vous sur chaussure-chic" class="img-fluid">
                </div>
                <div class="col-lg-5">
                    {{form_start(registrationForm)}}
                        <div class="row ">
                            <div class="mb-3 col-md-6">
                                <label for="registration_form_firstName">Prénom </label>
                                 <div class="text-danger">{{form_errors(registrationForm.firstName)}}</div>
                                {{form_widget(registrationForm.firstName, {'attr' : {'class':'form-control', 'autofocus': 'autofocus'}})}}
                            </div>
                            <div class="col-md-6">
                                <label for="registration_form_LastName">Nom</label>
                                 <div class="text-danger">{{form_errors(registrationForm.lastName)}}</div>
                                {{form_widget(registrationForm.lastName, {'attr' : {'class':'form-control'}})}}
                            </div>
                            <div class="mb-3">
                                <label for="registration_form_email">Email</label>
                                 <div class="text-danger">{{form_errors(registrationForm.email)}}</div>
                                {{form_widget(registrationForm.email, {'attr' : {'class':'form-control'}})}}
                            </div>
                            <div class="md-1">
                                <label for="registration_form"> </label>
                                 <div class="text-danger">{{form_errors(registrationForm.plainPassword)}}</div>
                                {{form_widget(registrationForm.plainPassword, {'attr' : {'class':'form-control'}})}}
                            </div>
                            <div class="mb-3">
                                <label for="registration_form_agreeTerms">Lire et accepter <a href="#" data-bs-toggle="modal" data-bs-target= "#staticBackdrop">les conditions générales d'utilisation</a></label>
                                <!-- Button trigger modal -->
                
                                <!-- Modal -->
                                <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" 
                                    aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Neque rerum maxime illo quia aspernatur quisquam omnis, voluptatum dolore a est!</p>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3">
                                <input formnovalidate type="submit" class="btn btn-success shadow w-100" value="S'inscrire">
                            </div>
                        </div>
                    {{ form_end(registrationForm)}}
                </div>
            </div>
    </div>
{% endblock %}