{% extends 'base.html.twig' %}

{% block body %}
<h1 class="text-center my-3">Inscription</h1>
<div class="container my-5">
    <div class="row">
        <div class="col-lg-7 text-center">
            <img src="images/inscription.jpg" alt="Inscrivez-vous sur chaussure-chic" class="img-fluid">
        </div>
        <div class="col-lg-5">
            {{ form_start(registrationForm) }}
            <div class="row">
                <div class="mb-3 col-md-6">
                    <label for="registration_form_firstName">Prénom</label>
                    <div class="text-danger">{{ form_errors(registrationForm.firstName) }}</div>
                    {{ form_widget(registrationForm.firstName, {'attr': {'class': 'form-control', 'autofocus': 'autofocus'}}) }}
                </div>
                <div class="mb-3 col-md-6">
                    <label for="registration_form_lastName">Nom</label>
                    <div class="text-danger">{{ form_errors(registrationForm.lastName) }}</div>
                    {{ form_widget(registrationForm.lastName, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="mb-3">
                    <label for="registration_form_email">Email</label>
                    <div class="text-danger">{{ form_errors(registrationForm.email) }}</div>
                    {{ form_widget(registrationForm.email, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="mb-3">
                    <label for="registration_form_plainPassword">Mot de passe</label>
                    <div class="text-danger">{{ form_errors(registrationForm.plainPassword) }}</div>
                    {{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="mb-3">
                    <input type="submit" class="btn btn-success shadow w-100" value="S'inscrire">
                </div>
            </div>
            {{ form_end(registrationForm) }}
            <div class="my-3 text-center">
                <p>Vous avez déjà un compte ? <a href="{{ path('app_login') }}">Connectez-vous</a></p>
                <p><a href="{{ path('app_home') }}">Retour à l'accueil</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
