{% extends 'base.html.twig' %}


{% block body %}
    <h1>Espace menbre privé</h1>
    <div>
     <h3>Modification de mon mot de passe</h3>
        <div class="container my-5">
            <div class="row">
                <div class="col-md-4 mx-auto shadow p-4">
                    {{ form_start(modifyPwd) }}
                    <div class="mb-3">
                        <label for="">Mot de passe actuel</label>
                        <div class="text-danger">{{ form_errors(modifyPwd.actualPassword) }}</div>
                        {{ form_widget(modifyPwd.actualPassword, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="mb-3">
                        <div class="text-danger">{{ form_errors(modifyPwd.plainPassword) }}</div>
                        {{ form_widget(modifyPwd.plainPassword, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="mb-3">
                        <button formnovalidate class="btn btn-success">Mettre a jour le mot de passe</button>
                    </div>
                    {{ form_end(modifyPwd) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
